body {
    padding-top: 54px;
}

.navbar-nav p {
    margin-bottom: 0;
    padding-top: .425rem;
    padding-bottom: .425rem;
}

.background {
    background-image: url("img/flag-background.jpg");
    position: absolute;
    top: 54px;
    left: 0;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: brightness(50%);
    z-index: -1;
}

.jumbotron {
    height: 500px;
    background: transparent;
    color: white;
}

.jumbotron .container {
    position: relative;
    top: 200px;
}

.title {
    font-family: "Lora", serif;
}

button, a, p {
    font-family: "Avenir", sans-serif;
}

.card-candidate {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-candidate:hover {
    background-color: #f7f7f7;
}

.image-container {
    position: relative;
    display: inline-block;
}

.card .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.not-clicked .after {
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.not-clicked:hover .after {
    background: rgba(255, 255, 255, .4);
}

.clicked .after {
    color: #8bc34a;
    background: rgba(255, 255, 255, .4);
    transition: all 0.1s ease-in-out;
}

.card .check {
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.not-clicked .check {
    color: rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in-out;
}

.not-clicked:hover .check {
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 253px;
    object-fit: cover;
}

.card-text {
    font-size: 14px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    background-color: #f7f7f7;
}

footer p {
    margin-bottom: 0;
}

.text-muted {
    color: #818a91;
}

.card-img-left {
    display: inline-block;
    border-radius: 0.25rem 0 0 0.25rem;
    object-fit: cover;
}

.card-winner {
    display: flex;
}

.img-winner {
    width: 328px;
    height: 328px;
}

.card-inline-block {
    padding: 1.25rem;
}

.card-title-winner {
    font-size: 56px;
}

.card-loser {
    display: flex;
}

.img-loser {
    width: 253px;
    height: 253px;
}

.labeled-card {
    display: flex;
}

.number-label {
    width: 75px;
    flex: none;
}

.number {
    font-size: 36px;
    font-family: "Lora", serif;
    vertical-align: middle;
    line-height: 253px;
    text-align: center;
}

.stats {
    font-family: "Lora", serif;
}

.votes {
    display: inline-block;
    padding-right: 0.8rem;
    border-right: 1px solid black;
}

.percentage {
    display: inline-block;
    padding-left: 0.8rem;
}