<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Voting</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <div class="container">
                <a class="navbar-brand" href="">Apollo</a>
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link active" href="">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="">About</a>
                    <p class="nav-item pull-xs-right">{{ username }}@mit.edu</p>
                </div>
            </div>
        </nav>
        <div class="background"></div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3 title">Election 2016</h1>
                <p class="lead">The race for the White House</p>
                <button id="submit" type="button" class="btn btn-lg btn-secondary" disabled>Submit Vote</button>
                {% if owner %}
                <button id="end-election" type="button" class="btn btn-lg btn-warning">End Election</button>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div id="clinton" class="card card-candidate not-clicked">
                        <div class="image-container">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/clinton.jpg') }}" alt="Hillary Clinton">
                            <div class="after">
                                <span class="check">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title title">Hillary Clinton</h3>
                            <p class="card-text">For the past several decades, Mrs. Clinton, 68, has lived in the public eye as she has evolved. She has been a political spouse, the scorned wife of an embattled president, a senator who surprised her rivals by working across the aisle, and a losing presidential candidate in 2008 who went on to serve in the administration of Barack Obama, the man who had bested her.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div id="cruz" class="card card-candidate not-clicked">
                        <div class="image-container">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/cruz.jpg') }}" alt="Ted Cruz">
                            <div class="after">
                                <span class="check">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title title">Ted Cruz</h3>
                            <p class="card-text">A first-term senator, Mr. Cruz wasted no time establishing himself as a favorite of far-right and evangelical Republicans. Since his election to the Senate in 2012, he has had an outsize impact, leading the effort behind the government shutdown in 2013.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div id="kasich" class="card card-candidate not-clicked">
                        <div class="image-container">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/kasich.jpg') }}" alt="John Kasich">
                            <div class="after">
                                <span class="check">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title title">John Kasich</h3>
                            <p class="card-text">With a long career in elected office, Mr. Kasich presents himself as an experienced and blunt leader who is well versed in balancing budgets. Now in his second term as the governor of a swing state, he also spent 18 years in Congress, where he rose to lead the House Budget Committee.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div id="sanders" class="card card-candidate not-clicked">
                        <div class="image-container">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/sanders.jpg') }}" alt="Bernie Sanders">
                            <div class="after">
                                <span class="check">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title title">Bernie Sanders</h3>
                            <p class="card-text">Calling himself a Democratic socialist, Mr. Sanders has served in Congress as an independent from Vermont for more than two decades. Far to the left in his politics and sometimes grumpy in his demeanor, he is asking voters to join him in what he has framed as a political revolution, appealing to progressives frustrated with big challenges like income inequality.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div id="trump" class="card card-candidate not-clicked">
                        <div class="image-container">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/trump.jpg') }}" alt="Donald Trump">
                            <div class="after">
                                <span class="check">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title title">Donald Trump</h3>
                            <p class="card-text">A billionaire businessman who made his fortune as a New York real estate developer before turning to reality television, Mr. Trump promises to use his deal-making prowess to enrich America. He has vowed to build a wall along the southern border, slash taxes and crush ISIS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-muted">
            <div class="container">
                <p class="pull-xs-right">© 2016 Apollo</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='election_script.js') }}"></script>
    </body>
</html>